$primary-background-color: #2c6bd6;
$primary-text-color: #054752;
$secondary-text-color: #708c91;

@mixin primaryText () {
  color: $primary-text-color;
  font-weight: bold;
}

@mixin secondaryText () {
  color: $secondary-text-color;
  font-weight: 400;
}

@mixin primaryContainer() {
  background-color: $primary-background-color;
  color: $primary-text-color;
}