$primary-background-color: #ffffff;
$primary-text-color: #054752;
$secondary-text-color: #708c91;
$accent-color: #00aff5;
$neutral-gray: #dddddd;

@mixin primaryText() {
  color: $primary-text-color;
  font-weight: bold;
}

@mixin secondaryText() {
  color: $secondary-text-color;
  font-weight: 400;
}

$app-header-height: 5rem;
$app-footer-height: 12rem;