@import url('http://fonts.cdnfonts.com/css/airbnb-cereal-app');

@import "utils";
@import "colors";
@import "SearchSelect";
@import "AppLayout";
@import "Page/Home";
@import "Page/SearchResults";
@import "Page/Schedule";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Airbnb Cereal App', sans-serif;
}