.search-select {
  position: relative;

  &.onTop {
    z-index: 1;

    .underlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  input {
    position: relative;
    width: 100%;
    height: 2em;
    font-size: 1.3em;
    padding-left: 0.3em;
    cursor: pointer;
    border: none;
  }

  .options {
    width: 100%;
    position: absolute;
    overflow: auto;
    max-height: 30em;
    background-color: #ffffff;

    .option {
      padding: 0.5em;
      cursor: pointer;

      &:hover {
        background-color: cornflowerblue;
      }
    }
  }
}