@import "../utils";
@import "../colors";

$header-height: 16rem;

:host {
  min-height: 100%;

  header {
    height: 3rem;
    background-color: $blue;
    @include center;

    .logo {
      width: 2rem;
      height: 2rem;
      background-color: white;
      border-radius: 100%;
    }
  }

  main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 60%;
    width: auto;

    @include desktop {
      max-width: 30rem;
    }

  }

  footer {
    height: 16rem;
    background-color: darkslategrey;
    color: white;
  }
}