@import "theme";
@import "utils";

html, body {
  height: 100%;
  overflow: auto;
}

html {

  @include desktop {
    font-size: 16px;
  }

  @include tablet {
    font-size: 14px;
  }

  @include phone {
    font-size: 12px;
  }

}



header {
  width: 100%;
  height: $app-header-height;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  background-color: $primary-background-color;
  border-bottom: 1px solid $neutral-gray;
  z-index: 1;

  .logo {
    justify-self: center;
    width: 3.5rem;
    height: 3.5rem;
    background-image: url("../assets/logo.png");
    background-repeat: no-repeat;
    background-size: contain;

    @include desktop {
      & {
        @include absoluteCenter;
      }
    }
  }

  .avatar {
    margin-left: auto;
    @include horizontal(0.5rem);
    align-items: center;
    text-decoration: none;
    color: $primary-text-color;
    font-weight: bold;

    img {
      width: 3rem;
      height: 3rem;
    }
  }

}

main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - #{$app-header-height + $app-footer-height * 0.5});
  width: auto;

  @include desktop {
    max-width: 45rem;
  }

}

footer {
  height: $app-footer-height;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $primary-text-color;
  color: #ffffff;

  .select-lang {
    width: 15rem;
    height: 2rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    background-color: #ffffff;
  }
}