.search-select {
  position: relative;
  display: flex;

  &.onTop {
    z-index: 1;

    .underlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  input {
    flex: 1 1 auto;
    font-size: inherit;
    padding-left: 0.3rem;
    cursor: pointer;
    border: none;
  }

  .options {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    overflow: auto;
    max-height: 15rem;
    background-color: #ffffff;
    @include boxShadow;;

    .option {
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: cornflowerblue;
      }
    }
  }
}