@import "../utils";

.search-page {
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 30rem;
    @include vertical(1rem);

    .search-select {
      flex: 1 1 auto;
    }

    .date-input {
      height: 2em;
      font-size: 1.3em;
    }
  }
}