@import "../../utils";
@import "../../colors";

:host {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: auto;

  .stations {

    th {
      text-align: center;
      background-color: $blue;
      color: #ffffff;

      &:nth-child(1) {
        text-align: left;
        padding-left: 0.5rem;
        border-top-left-radius: 0.5rem;
      }

      &:nth-child(3) {
        border-top-right-radius: 0.5rem;
      }

    }

    tr {

      &:nth-child(2n + 1) {
        background-color: #e8f1f7;
      }

      &:nth-child(2n) {
        background-color: #f4f8fc;
      }

      &:first-child {
        & :nth-child(2) {
          content-visibility: hidden;
        }
      }

      &:last-child {
        & :nth-child(3) {
          content-visibility: hidden;
        }
      }

      .name {
        text-align: left;
        font-size: 0.9rem;
        padding: 0.1rem 0 0.1rem 0.5rem;
      }

      .dateTime {
        text-align: center;
        font-family: monospace;
      }
    }
  }
}