@import "src/styles/utils";
@import "src/styles/colors";

$radius: 1.5rem;

.home-page {
  display: flex;
  flex-direction: column;

  form {
    width: min(100% - #{2rem}, 35rem);
    margin: 6rem auto auto auto;
    @include vertical(0);
    border-radius: $radius;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1pt 4pt, rgba(0, 0, 0, 0.08) 0 2pt 8pt;

    .fields {
      @include vertical(0);
      padding: 0;
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;

      > * {
        padding: 0.5rem;
      }

      > * + * {
        border-top: 1px solid #d4d4d4;
      }

      .search-select {
        flex: 1 1 auto;

        input {
          border-radius: $radius;
        }
      }

      .date-input {
        height: 2em;
        font-size: 1.3em;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
        padding-left: 0.3rem;
      }
    }

    $button-height: 2.5rem;

    button {
      height: $button-height;
      border: none;
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
      cursor: pointer;
      @include primaryContainer;

      .search-icon {
        width: $button-height * 0.5;
        height: $button-height * 0.5;
        fill: #ffffff;
      }
    }
  }
}