@import "src/styles/utils";
@import "../theme";

$radius: 1.2rem;

.home-page {
  display: flex;
  flex-direction: column;

  form {
    width: min(100% - #{6rem}, 35rem);
    margin: 6rem auto auto auto;
    @include vertical(0);
    border-radius: $radius;
    @include boxShadow;;

    $field-height: 4rem;

    .fields {
      @include vertical(0);
      padding: 0;
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
      background-color: #ffffff;

      > * {
        flex: 1 1 auto;
        padding: 0.5rem;
        height: $field-height;
        font-size: 1.3rem;
      }

      > * + * {
        border-top: 1px solid #d4d4d4;
      }

      .search-select {
        flex: 1 1 auto;

        input {
          outline: none;

        }
      }

      .date-input {
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
        padding: 0 1rem;
        outline: none;
      }
    }

    $button-height: $field-height;

    button {
      height: $button-height;
      border: none;
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
      cursor: pointer;
      background-color: $accent-color;

      .search-icon {
        width: $button-height * 0.5;
        height: $button-height * 0.5;
        fill: #ffffff;
      }
    }
  }
}