@import "../colors";
@import "../utils";

$search-header-height: 4rem;

.suggestions-page {
  display: flex;
  flex-direction: column;

  a {
    color: black;
    text-decoration: none;
  }

  .header {
    display: flex;
    position: sticky;
    top: 0;
    height: $search-header-height;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: $neutral-gray;
    z-index: 1; // pipe is another stacking something because of the `scale`

    > * {
      user-select: none;
    }

    a {
      flex: 1 0 auto;
      display: flex;
      color: black;
      text-decoration: none;
      background-color: #ffffff;
      border-radius: 2rem;
      cursor: pointer;

      .icon-container {
        flex-shrink: 0;
        @include center;

        .search-icon {
          width: $search-header-height * 0.333;
          height: $search-header-height * 0.333;
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }

      .info {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .route {
          @include horizontal(1rem);
          align-items: center;
          font-size: 0.9rem;

          .arrow {
            width: 1rem;
          }
        }

        .date {
          font-size: 0.7rem;
        }
      }
    }

  }

  .schedules {
    flex: 1 1 auto;
    @include vertical;
    margin: 1rem;

    .entry {
      @include horizontal(0.5rem);
      height: 10rem;
      padding: 0.5rem;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0 1pt 4pt, rgba(0, 0, 0, 0.08) 0 2pt 8pt;
      cursor: pointer;

      .timeline {
        width: 10rem;
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-areas:
          "dep-time dep-pin start-name"
          "length   pipe    .       "
          "arr-time arr-pin arr-name";
        align-items: center;
        column-gap: 0.5rem;

        $pipeColor: #5b8ce3;
        $pipe-width: 0.3rem;

        .pin {
          justify-self: center;
          border-radius: 50%;

          &.dep-pin {
            grid-area: dep-pin;
            width: 0.8rem;
            height: 0.8rem;
            background-color: $pipeColor;
          }

          &.arr-pin {
            grid-area: arr-pin;
            width: 0;
            height: 0;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            background-color: transparent;
            border-top: 1rem solid $pipeColor;
          }
        }

        .pipe {
          grid-area: pipe;
          width: $pipe-width;
          height: 100%;
          justify-self: center;
          background-color: $pipeColor;
          transform: scaleY(2);
        }

        .dep-time {
          grid-area: dep-time;
          justify-self: end;
        }

        .start-name {
          grid-area: start-name;
          justify-self: start;
        }

        .arr-time {
          grid-area: arr-time;
          justify-self: end;
        }

        .arr-name {
          grid-area: arr-name;
          justify-self: start;
        }

        .length {
          grid-area: length;
          color: #778899;
          font-size: 0.8rem;
          justify-self: end;
        }

      }

      .info {
        flex: 1 0 auto;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas:
          "driver-avatar  driver-info   driver-info   "
          "driver-avatar  vehicle-info  vehicle-info  "
          "conditions     conditions    conditions    "
          "seats          seats         price         ";
        justify-content: start;
        align-items: center;
        column-gap: 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        font-size: 1rem;
        border-left: 1px solid lightgray;

        .driver-avatar {
          grid-area: driver-avatar;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 100%;
        }

        .driver-info {
          grid-area: driver-info;
        }

        .vehicle-info {
          grid-area: vehicle-info;
        }

        .conditions {
          grid-area: conditions;
          @include horizontal(1rem);

          .condition {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 100%;

            svg {
              width: 100%;
              height: 100%;
            }
          }
        }

        .seats {
          grid-area: seats;
          @include horizontal(1rem);

          .seat {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 100%;
          }
        }

        .price {
          grid-area: price;
          justify-self: end;
        }

      }

    }

  }

}