@import "../../utils";

$header-height: 4rem;

:host {
  display: flex;
  flex-direction: column;
  min-height: 90vh;

  .header {
    display: flex;
    position: sticky;
    top: 0px;
    height: $header-height;
    padding: 0.5rem;
    background-color: lightblue;

    > * {
      user-select: none;
    }

    a {
      flex: 1 1 auto;
      display: flex;
      color: black;
      text-decoration: none; /* no underline */
      background-color: aliceblue;
      border-radius: 2rem;

      .icon-container {
        flex-shrink: 0;
        @include center;

        .icon {
          width: $header-height / 3;
          height: $header-height / 3;
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }

      .info {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .route {
          @include horizontal(1rem);
          align-items: center;
          font-size: 0.9rem;

          .arrow {
           width: 2rem;
          }
        }

        .date {
          font-size: 0.7rem;
        }
      }
    }

  }

  .entries {
    flex: 1 1 auto;
    @include vertical;
    margin: 1rem;

    .entry {
      @include center;
      height: 15rem;
      border: 1px solid cornflowerblue;
      border-radius: 1.5rem;;
    }

  }

}